/* .image1{
	position: relative;
	top: 8rem;
	width: 350px;
	height:259.91px;
}

.image2{
	position: relative;
	
	width: 410px;
	height:330px;
	right: 180px;
}
.image3{
	position: relative;
	width: 380px;
	right: 300px;
}
.image4{
	position: relative;
	bottom: 28.5px;
	left: 230px;
}
.image5{
	position: relative;
	bottom: 201px;
	left: 155px;
	width: 449px;
}
.image6{
	position: relative;
	bottom:23rem;
	left: 35px;
	width: 449px; 
}
	*/
.gallery{
	height: 594px;
}
/* img:hover{
	transform: rotate(-23.646deg);
flex-shrink: 0;
} */